body {
  background-color: #04a6eb;
  color:#fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 4px 20px;
  background-color: #c66b21;
  color:#fdffff;
  border-style: solid;
}

input {
  height: 24px;
}